h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

label span.required {
  color: red;
}

input.ng-dirty.ng-valid {
  border-left: 5px solid #42A948; /* green */
}

input.ng-dirty.ng-invalid {
  border-left: 5px solid #a94442; /* red */
}

div.form-group div.alert {
  padding: 5px 10px;
  margin-bottom: 0px;
}

.dropdown-toggle,
.dropdown-menu {
  width: 100%;
}

.dropdown-toggle {
  text-align: left;
}
